---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact Us" description="Reach out to us.">
  <h1>Contact</h1>
  <form name="contact" method="POST" netlify>
    <input type="hidden" name="form-name" value="contact" />
    <label>
      Name:
      <input type="text" name="name" required />
    </label>
    <label>
      Email:
      <input type="email" name="email" required />
    </label>
    <label>
      Message:
      <textarea name="message" required></textarea>
    </label>
    <button type="submit">Send</button>
  </form>
</BaseLayout>
